/* General page setup */
body {
  background-color: #6a9fa5;
}

h1 {
  display: flex;
  justify-content: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 
               'Lucida Grande', 'Lucida Sans Unicode', 
               Geneva, Verdana, sans-serif;
  font-size: 55px;
  margin-bottom: 20px;
}

/* New Book Button Container */
#newbtn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

#newbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  font-size: 25px;
  border-radius: 10px;
  border: solid 3px black;
  background-color: white;
  cursor: pointer;
}

/* Library container */
#Library-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

/* Individual book card */
.book {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid black;
  border-radius: 25px;
  height: 300px;
  width: 250px;
  padding: 15px;
  margin: 20px;
  background-color: #fbd082;
}

.title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}

.author {
  font-size: 30px;
  margin-bottom: 20px;
}

.pages {
  font-size: 25px;
  margin-bottom: 20px;
}

button:focus {
  outline: 0;
}

/* Buttons inside cards */
.readBtn, #removeBtn, #addbtn {
  font-size: 20px;
  height: 35px;
  width: 110px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: solid 3px black;
  cursor: pointer;
}

.readBtn {
  background-color: white;
}

#removeBtn {
  background-color: #d7d9da;
}

#addbtn {
  background-color: white;
}

/* Input fields */
input#title,
input#author,
input#pages {
  height: 30px;
  width: 200px;
  font-size: 20px;
  border: solid 3px black;
  border-radius: 5px;
  padding: 5px;
}

/* Checkbox */
input[type=checkbox] {
  transform: scale(1.5);
  margin-left: 10px;
}

/* Popup overlay (modal background) */
#popup {
  display: none; /* hidden by default */
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* enables scroll if needed */
  background-color: rgba(0, 0, 0, 0.4); /* dark overlay */
  font-size: 30px;
}

/* Popup form box */
#form {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 3px solid black;
  border-radius: 10px;
  width: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Close button */
#close {
  color: #aaa;
  font-size: 30px;
  font-weight: bold;
  align-self: flex-end;
  cursor: pointer;
  margin-bottom: 10px;
}

#close:hover,
#close:focus {
  color: black;
}

/* Labels and form spacing */
#textinput p, #checkbox p {
  margin: 10px 0;
}
